[2016-10-25 11:56] crdemon opened #1 "Images information"
Hi Liran,

[code]

Can I request one more feature, which will be very cool to have there?
Feature: Get the information about images on a host.
We can see the actual running containers, but no info about images.

Kind Regards,
CrDemon

[2016-10-25 15:22] lirantal opened #2 "Demo, Showcase, and Screenshots"
![vokoscreen-2016-10-25_23-10-41](https://cloud.githubusercontent.com/assets/316371/19702523/b12c191e-9b08-11e6-8e8b-588e61022622.gif)

[2016-10-26 11:05] eitanshp opened #3 "Add a deployable container support"
Would be cool to get dockly as a self-contained container that manages the containers.
Cool (retro) work! :)

[2016-11-30 16:19] #2 closed

[2016-12-02 03:04] veggiemonk opened #4 "Error: Unable to determine the domain name"
Hi,

I have this problem (with a nice error message by the way, so kudos for that).

How can I solve this?

Thanks in advance

[code]

[2016-12-02 07:35] lirantal commented on #4
Hi @veggiemonk,

I released a couple of fixes for that last night already, can you please make sure you update dockly to the latest version from npm?

The error message is actually originating from the native node.js http library which dockerode uses, yet it doesn't try/catch the error and so there's no way to handle it.
It will happen in cases where there is no way to connect to the docker daemon

[2016-12-02 07:45] veggiemonk commented on #4
Updated to 1.1.2. It works !!! Thanks.

Just FYI, this is what happened when I tried to get the version from the command line:

[code]

[2016-12-02 07:45] #4 closed

[2016-12-02 07:50] lirantal commented on #4
I didn't add a version because just running dockly gives you that output, but I'll add it anyway :-)
Thanks!

[2016-12-02 08:07] veggiemonk commented on #4
Don't worry, it is a habit to check the version before posting an issue....
Not really a feature request but it is easier for people to submit bug report.
Anyway, great work!!

[2016-12-02 08:38] lirantal commented on #4
Thanks @veggiemonk!

I've also updated the cli usage now in case of issues:
![image](https://cloud.githubusercontent.com/assets/316371/20827536/6e0e4de2-b87b-11e6-82ba-09cc3e5af96a.png)

Pushed as another minor release to npm

[2016-12-05 12:47] lirantal commented on #3
Thanks for the PR @eitanshp!

[2016-12-05 12:47] #3 closed

[2017-02-07 03:33] cjus opened #7 "Error when container not running?"
I tried running dockly and received the following error.  After running a container (redis) dockly seem to work just fine.

[code]

[2017-02-07 09:08] lirantal commented on #7
thanks @cjus
so basically if there aren't any running containers it doesn't load, right?
it makes sense a bit because it also only displays running containers in the list.

I'll be very happy to get some input and feedback on things to improve

[2017-02-07 12:33] lirantal opened #8 "Todo List"
Next milestone:

- [x] Honor the DOCKER_HOST env variable to connect to a specific docker server
- [ ] Searchable containers
- [ ] Show overall containers cpu/memory (dashboard style)
- [ ] Open container/images menu for general commands: remove container/all containers/completely, cleanup images and containers, etc
- [ ] Live logs search for specific string

Refactoring milestone:
- [x] ES6
- [x]

[2017-02-07 13:04] lirantal opened #9 "Error: Cannot read property 'length' of undefined"
When loading a list of containers that are unreachable, or navigating in the containers list on non-running containers then the widget for reading cpu/memory metrics is trying to access properties of the container but it can't, so dockly quits with:

[code]

[2017-02-07 21:05] cjus commented on #7
@lirantal yes that's right.

[2017-02-07 21:13] cjus commented on #9
I experienced this one too.

[2017-02-07 21:45] lirantal commented on #9
Thanks for confirming. I already fixed that in a local version, I'll push the fix within a day, just want to test it some more.

[2017-02-07 21:50] lirantal commented on #7
@cjus It should be fixed too and will definitely have  all containers listed, even those that are exited.

I'd love to ask you for some UI feedback, you're using the npm version right?
I changed the UI a bit in the repo's master branch but I'm not feeling it connects yet. Currently in my latest changes branch it looks like this:

![image](https://cloud.githubusercontent.com/assets/316371/22713200/

[2017-02-07 21:51] lirantal opened #10 "Containers list doesn't show State and Status fields"
This happens because the Command column is too wide, I'll cap it to about 30 chars.

[2017-02-07 22:50] #9 closed

[2017-02-11 19:13] #10 closed

[2017-03-10 08:57] lirantal commented on #7
Fixed

[2017-03-10 08:57] #7 closed

[2017-05-03 21:41] lirantal commented on #2
![dockly-demo-2](https://cloud.githubusercontent.com/assets/316371/25682867/c5212216-3027-11e7-8f36-72d38516d2af.gif)

[2017-07-22 05:48] #1 closed

[2017-07-29 11:00] schvabodka-man opened #21 "App just crashes"
Hi there. When i'm opening dockly, i'm just getting this:

Trace: Error: Cannot read property 'length' of null
    at exitError (/usr/lib/node_modules/dockly/index.js:69:13)
    at process.on (/usr/lib/node_modules/dockly/index.js:17:7)
    at emitOne (events.js:101:20)
    at process.emit (events.js:188:7)
    at process._fatalException (bootstrap_node.js:296:26)

[2017-07-29 17:25] lirantal commented on #21
Hi @schvabodka-man
Thanks for chiming in.

A few questions to help diagnose the problem:
1. Can you check which version of dockly is installed?
2. Which OS are you on?
3. Do you have docker installed locally?
4. Do you actually have containers created? (running or stopped doesn't matter)

[2017-08-02 10:48] schvabodka-man commented on #21
Hi! Sorry for long response

1.  2.1.1. Dockly installed from npm
2. Fedora 25
3. Yes
4. Yes, i've

[2017-08-02 18:29] lirantal commented on #21
Thanks.

By default, dockly uses the socket to connect to the docker daemon which is usually at `/var/run/docker.sock` can you confirm that indeed it exists and works on your install?

[2017-08-02 18:32] lirantal opened #22 "Remove snyk from project dependency"
Snyk integration is already happening through GitHub.
The snyk binary can be removed form the project as a dependency.

[2017-08-02 19:16] lirantal commented on #21
@schvabodka-man also, I released small fixes with with debug info when something happens.
can you upgrade to 2.1.2 and let me know how it works?

[2017-08-02 19:28] lirantal opened #23 "Move on-the-fly variables to constants"
`containerStatus.widget.js` snippet:
[code]

- [x] replace the string colors with class level constants
- [x] do the same for other parts of the code where it makes sense

[2017-08-02 19:38] lirantal opened #24 "Refactor dockerUtil for class-based code style"
`src/dockerUtil.js` currently uses JavaScript prototype based definitions to define the object instance. Desired state will be to refactor it for new ES6 class style to be in-par with the rest of the code.

[2017-08-02 19:40] lirantal opened #25 "Update project information on the CLI"
Update `src/cli.js` to display in the help output:

1. dockly version
2. project home

All of which can be easily read from the package's own `package.json` file.
Currently, the `showVersion()` function isn't used.

[2017-08-03 18:36] lirantal commented on #2
dockly logo thanks to @idanco
![dockly-logo](https://user-images.githubusercontent.com/316371/28937414-67ee5ffa-7893-11e7-95f9-5059cacf9170.png)

[2017-08-10 19:21] lirantal commented on #21
@schvabodka-man any update?

[2017-08-11 05:29] schvabodka-man commented on #21
Okay, sorry for long response. There is that socket in var/run. And i updated to 2.1.2 and it's still crashing with the same error. I see dockly ui for few seconds and then crash

[2017-08-22 21:06] lirantal commented on #21
@schvabodka-man got around now to look at this again, I released 2.1.3 with:
1. better error log trace to pin-point the problem
2. caught a bug where it tries to access undefined properties of the object

hopefully you can re-test again and share the output error log if you're still experiencing a crash.
thanks for the patience!

[2017-08-29 20:57] lirantal commented on #21
@schvabodka-man any chance you can review my comment above to help you with the issue? thanks!

[2017-08-30 08:56] schvabodka-man commented on #21
Still crash. Opens for a second and then

[code]

[2017-08-30 22:06] lirantal commented on #21
@schvabodka-man ok, makes perfect sense.
released version 2.1.4 with the fix for that null case.

[2017-09-04 06:54] lirantal commented on #21
@schvabodka-man
I was able to reproduce the issue and committed a fix and bumped a new version.

I'm curious how you in your docker version it is unable to get the statistics for cpu and memory per container. Which docker version are you running?

[2017-09-04 13:30] schvabodka-man commented on #21
Docker 1.12.6 on Fedora

[2017-09-04 13:34] lirantal commented on #21
Mine is: `Docker version 17.06.0-ce, build 02c1d87` so that could be related.
Did you try the new dockly version to see if the issue resolved?

[2017-09-09 17:18] lirantal commented on #21
@schvabodka-man if you're able to report back or still have issues I'll be more than happy to continue this thread. Thanks for all of your feedback!

[2017-09-09 17:18] #21 closed

[2017-10-10 11:41] babarali581 commented on #4
I have same Issue I am caking api  http.GET

[2017-10-10 15:58] lirantal commented on #4
Hey @babarali581, not sure what you mean by "caking api http.GET".

Can you share more information about the system your using it on?
- Which dockly version installed?
- Docker version:
- Is docker available on the local socket?
- Are you trying to connect via host/port?
- Which OS and version:

[2017-11-01 21:23] mutech opened #31 "Error on startup on a Mac"
## Expected Behavior

"UI" comes up

## Actual Behavior

HTML error page is displayed

## Steps to Re-produce the Problem

 1.
[code]
2.
[code]
3.
[code]
## Context

- Operating System: macOS high sierra
- Node.js version: 8.2.1
- Package version: latest (--version doesn't work either)
- Docker version: 17.09.0-ce
- Is docker installed locally? docker-machine with fusion driver
- Do you have conta

[2017-11-01 22:03] lirantal commented on #31
about the error message - you mean there's an http error message displayed back.

anyway though, are you absolutely sure that the DOCKER_HOST variable really points to the docker daemon? that message you got back doesn't seem to makes sense. It's an HTML response and you should be getting JSON responses from the docker daemon's API.

[2017-11-01 22:31] lirantal commented on #31
@mutech I pushed a fix for an issue parsing the host when a DOCKER_HOST variable is provided.

Still, your value of it being `tcp://...:2376` is invalid. Just specify `host:port`

[2017-11-02 04:51] mutech commented on #31
Hi @lirantal! Here is the full output of the command with ... replaced by actual values:

$ dockly
Usage: dockly [OPTIONS]
dockly [ --help | -v | --version ]

dockly

  Interactive shell for managing Docker containers

Options

  -u, --host string         Docker daemon hostname to connect to
  -p, --port string         Docker daemon port to connect to
  -s, --socketPath string   Docker daemon sock

[2017-11-02 05:06] mutech commented on #31
With version 2.3.1 I get this (no more HTML output):

$ dockly
Usage: dockly [OPTIONS]
dockly [ --help | -v | --version ]

dockly

  Interactive shell for managing Docker containers

Options

  -u, --host string         Docker daemon hostname to connect to
  -p, --port string         Docker daemon port to connect to
  -s, --socketPath string   Docker daemon socket to connect to

  Project home: ht

[2017-11-02 07:40] lirantal commented on #31
can you explicitly specify https, such as:
```DOCKER_HOST="https://172.16.145.142:2376"```

[2017-11-02 10:23] mutech commented on #31
using `DOCKER_HOST=https://172.16.145.145:2376` hung and finally failed with
[code]

Using certificates: Not consciously, though docker-machine seems to be configuring them. What I did was to install docker-machine (and related stuff) via home brew and then create the boot2docker image via docker-machine and the vmware fusion driver thereof.

I did not look into the docker API yet, but I assume if

[2017-11-02 10:29] mutech commented on #31
If you can't reproduce and want to look into it, we could meet up via teamviewer or something

[2017-11-02 12:44] lirantal commented on #31
Right. So the lib I'm using supports the following:
[code]

Which out of that I'm only passing on the `host` and `port` parameters.
I can expose env vars for each of the cert parameters (key, cert, ca). Will that work for you?

I found this should be supported on Windows if you want to try:
`DOCKER_SOCKET=//./pipe/docker_engine`

[2017-11-02 14:18] mutech commented on #31
I think it should be fine to set BASE_PATH in your example to the content of $DOCKER_CERT_PATH and set properties ca, cert and key like you did; if DOCKER_CERT_PATH is defined.

The referenced directory on my box contains the files ca.pem, cert.pem and key.pem, so if the certificate is the reason for the failure we should be good.

[2017-11-02 14:30] lirantal commented on #31
That BASE_PATH is unrelated, it's just the directory path to find the files, but yeah like you said if you have those files I can make a change to take them into account.

It's a quick one, I'll work on a fix for that and ping you in an hour.

[2017-11-02 14:46] mutech commented on #31
Did just that (hacky):

[code]

but that just leads to the next problem:

[code]

[2017-11-02 15:08] lirantal commented on #31
thanks for jumping on this and making the change locally, definitely speed things up.
I found this if it helps: https://stackoverflow.com/questions/38703443/keep-getting-error0906d06cpem-routinespem-read-biono-start-line

[2017-11-02 15:19] mutech commented on #31
Could do, but it would be ugly, since I am (users of docker-machine are not) directly involved in maintaining the certificates. Since all other docker tools get along well with this, it would be a bit painful to have to do that manually.

[2017-11-02 21:39] mutech commented on #31
I'm silly, overlooked that the API wants the data and not the path/url to cert files. Here is the code fragment that works for me:

[code]

[2017-11-02 22:02] lirantal commented on #31
Oh good catch!
I'm so happy you were able to work it out :-)

Would you like to open a PR with those changes? I'll be happy to merge and release a new version with support for SSL.

[2017-11-02 22:04] mutech commented on #31
Can do it tomorrow, though I guess it's faster if you just copy over the couple of lines above if you feel they're ok as is ;)

[2017-11-02 22:09] lirantal commented on #31
Sure, no problem. I'll push a new version tomorrow and ping you, and if you won't open a PR yourself by tomorrow I'll do it, no worries.

Thanks a lot for being patient but mostly for pursuing it and working it out!

![](https://media.giphy.com/media/xT0BKhunZXlEsnpz7q/giphy-downsized.gif)

[2017-11-03 16:57] lirantal commented on #31
@mutech I removed all that connection handling from dockly and offloaded it to the underlying docker library I use (dockerode) so it should already handle all of these environment variables and such.

I released dockly 3.1.0 if you care to upgrade and test (and use :-) )

[2017-11-03 16:58] #31 closed

[2017-12-22 17:18] lirantal commented on #22
Fixed in https://github.com/lirantal/dockly/commit/dd3331e522b4325610f22a4045b10de904f4b233

[2017-12-22 17:18] #22 closed

[2017-12-22 17:36] lirantal commented on #23
Fixed in https://github.com/lirantal/dockly/commit/97f52e3196dd160fcc58cd2c14ece55b2dda08da and https://github.com/lirantal/dockly/commit/4a7a199c87d315b68bf75436ff931551ee97b58a

[2017-12-22 17:36] #23 closed

[2017-12-23 08:52] lirantal commented on #25
Fixed in https://github.com/lirantal/dockly/commit/5d064708270235478b24b0ea4566376617e8fe99

[2017-12-23 08:52] #25 closed

[2018-01-10 10:17] lirantal opened #35 "Toggle view mode button is missing on services view"
## Expected Behavior
When I am toggling the view mode to the 'services' view I don't see the same bottom menu button (to help me know how to toggle view mode again)

## Actual Behavior
Toggle view mode is a primary button on all screens

## Steps to Re-produce the Problem

  1. Run dockly

  2. Toggle the view mode for the services view

  3. No 'toggle view' mode menu item

![image](https://user-

[2018-01-17 13:28] oppianmatt opened #37 "pull access denied for dockly, repository does not exist or may require 'docker login'."
Following the docs to run dockly:

[code]

I don't think you made it an official dockerhub build. I did find https://hub.docker.com/r/lirantal/dockly/ so perhaps you meant:

[code]

But still that dockerhub is empty.

[2018-01-17 13:43] oppianmatt opened #38 "Dockerfile is not idempotent and doesn't match the source"
It installs dockly via npm here

https://github.com/lirantal/dockly/blob/ad07b4ab470b05e02e4088f03c07e06c6a0d957a/Dockerfile#L4

But really shouldn't it use the dockly that's packaged in the source along with the Dockerfile? So when you build using a CI the source for the docker matches source in your repository, not some random npm version depending on what was pushed for the day.

[2018-01-17 13:55] MatanAvneri commented on #35
Closing this issue, fixed in #36

[2018-01-17 13:55] #35 closed

[2018-01-17 20:38] lirantal commented on #38
Mostly definitely!

And thanks for chiming in on this. Do you want to open a PR to fix the dockerfile?

[2018-01-22 12:04] reicheltp commented on #37
You can see that there is no tag `latest` pushed: https://hub.docker.com/r/lirantal/dockly/tags/

But you can pull it using the tag `master`:
[code]

[2018-01-23 20:43] #38 closed

[2018-01-23 20:45] #37 closed

[2018-01-23 20:49] lirantal commented on #37
Fixed, thanks!

[2018-01-23 20:50] lirantal commented on #38
Fixed, thanks!

[2018-01-24 08:39] MatanAvneri commented on #24
Fixed in #32

[2018-01-24 08:39] #24 closed

[2018-01-25 12:38] salarelv opened #41 "Crash: SyntaxError: Unexpected token ..."
## Expected Behavior
Launching the app

## Actual Behavior
dockly 3.2.1
Usage: dockly [OPTIONS]

dockly

  Interactive shell for managing Docker containers

Options

  -s, --socketPath string   Docker daemon socket to connect to
  -h, --help                Display this usage guide.
  -v, --version             Display version

  Project home: https://github.com/lirantal/dockly

Trace: /usr/local/li

[2018-01-25 13:42] lirantal commented on #41
Hey @salarelv

We're only supporting Node.js version 8 due to requiring recent language features such as spread operator, async/await, etc.

Are you able to upgrade to to Node.js 8?

[2018-01-25 14:17] salarelv commented on #41
OK.
Have you consider about using pkg to package it to single executable?

[2018-01-25 14:39] lirantal commented on #41
I didn't consider that, is it something you would like to try and work on or should I take a stab at it?

[2018-01-25 17:37] salarelv commented on #41
Tried it out. Seems that pkg doesn't support ES6 or I am doing something wrong:

  /home/taavi/oss/dockly/widgets/toolbar.widget.js

[2018-01-25 17:38] salarelv commented on #41
PS! Latest node version for pkg is node9.

[2018-01-25 22:27] lirantal commented on #41
`pkg` seems to complain about the same javascript syntax as you originally posted for Node.js v6.12.3

I'm not familiar with pkg yet, but did you provide it with something like `--targets node8` so that maybe it bundles the code for that?

[2018-01-26 06:31] salarelv commented on #41
Yes I tried with node8 and latest.
I have done a project with pkg before so I know it works.

[2018-01-26 06:51] lirantal commented on #41
this is the feature we're using:
![image](https://user-images.githubusercontent.com/316371/35428109-fa30a460-0275-11e8-9d65-17f8cdd51f63.png)

@salarelv can you try a supported version from that list? say 8.9.4 specifically and not just any random 8 or 9 version?

[2018-01-26 08:11] salarelv commented on #41
pkg doesn't support more precise version. As I can read from their issues page they are at 8.9.0

[2018-01-26 08:16] lirantal commented on #41
Gotcha. Let me push a quick fix for that and let's try it.

[2018-01-26 08:38] lirantal commented on #41
@salarelv pushed and publish a new version, can you check?

[2018-01-26 08:55] salarelv commented on #41
I made some changes in the dynamically loaded modules. So I have to merge it. Maybe tomorrow?

[2018-01-26 08:56] lirantal commented on #41
sure :-)

[2018-02-05 17:43] lirantal commented on #41
@salarelv I'm closing for now but would love to continue this if you're able to jump in on the conversation again and share the status.

[2018-02-05 17:43] #41 closed

[2018-02-06 20:24] vokiel opened #44 "Trace: TypeError: Object.values is not a function"
## Expected Behavior
App won't crash.

## Actual Behavior
App crashes

## Steps to Re-produce the Problem

  1. Open
  2. Type `:v`

## Context

- Operating System: `Linux Mint`
- Node.js version (run `node --version`): `v6.11.1`
- Package version: `3.2.3`
- Docker version (run `docker --version`): `Docker version 17.05.0-ce, build 89658be`
- Is docker installed locally? `yes`
- Do you have contai

[2018-02-06 22:11] lirantal commented on #44
Hey @vokiel,

Thanks for reporting and trying out dockly!

We need to do a better job on conveying the supported versions for dockly.
The problem is that it requires the current LTS version of Node.js (version 8), and Node.js versions 6 are not supported due to some features that dockly uses.

Is it possible for you to upgrade your Node.js version to 8?
If not, you should still be able to use dock

[2018-02-06 22:53] vokiel commented on #44
This issue is not present on node v8.

[2018-02-06 23:00] vokiel commented on #44
The same with Docker:
[code]

[2018-02-07 11:39] MatanAvneri commented on #44
@vokiel we added #45, the process will quit once the node version is unsupported

[2018-02-12 20:01] #44 closed

[2018-02-12 20:01] lirantal commented on #44
@vokiel thanks, I'll look into the docker issue to see what's going on there

[2018-02-13 15:00] omerlh opened #49 "Unexpected crash"
## Expected Behavior
App work properly

## Actual Behavior

Crash suddenly with the following error:

[code]

## Steps to Re-produce the Problem

  1. I just run dockly and played while working on the container

## Context

- Operating System: OSX
- Node.js version (run `node --version`): v9.5.0
- Package version: latest
- Docker version (run `docker --version`): Docker version 17.12.0-ce, build c

[2018-02-13 20:18] #49 closed

[2018-02-13 20:19] lirantal commented on #49
Thanks @omerlh, I committed a fix and a new version should be published after CI runs with the fix available

[2018-02-21 04:56] nileio commented on #8
hi lirantal,
can you use it to connect to a remote docker daemon ? (that is docker is not installed on localhost).. is this the same as Honour Docker_Host env variable milestone ? is this done ?
thanks

[2018-02-21 14:47] lirantal commented on #8
@nileio yeah this is already supported.

Just pass the remote connection address in the DOCKER_HOST property, for example:
[code]

[2018-02-22 10:30] solarisfire opened #50 "Error message on Ubuntu 16.04"
## Expected Behavior
Dockly should run.

## Actual Behavior
root@neo:~# dockly
/usr/local/lib/node_modules/dockly/src/screen.js:36
  constructor (utils = new Map()) {
                     ^

SyntaxError: Unexpected token =
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:374:25)
    at Object.Module._extensions..js (module.js:417:10)
    at Module.load (module.js:344

[2018-02-22 18:04] lirantal commented on #50
Hey @solarisfire,

We support Node >= 7.6.0
Is it possible for you to upgrade to a more recent version of Node.js like 8?

[2018-02-22 18:27] solarisfire commented on #50
Any chance you could put that in the package.json file so idiots like me get stopped at install?

I ended up just running inside a container for now. However it doesn't look quite right with all of the lines being replaced by x's.

I'll upgrade to nodejs 8 a bit later today. It's a bit of a pain on Ubuntu 16.04 as it installs 4.2.6 by default.

[2018-02-22 19:39] solarisfire commented on #50
![dockly](https://user-images.githubusercontent.com/420952/36560203-086e774e-1808-11e8-8335-7cf5de116a6b.JPG)

Running in nodejs 8 now. Doesn't look as pretty as the screenshots though :(

[2018-02-23 15:32] lirantal commented on #50
woohoo 🎉 😄
that does look kinda odd though heh

@solarisfire we do have it on the package.json, in the form of:
`
  "engines": {
    "node": ">=7.6.0"
  },
`

but not all package managers respect it, or some would just show an warning during install but will still proceed with installing it.

We also show a Node.js version badge on the README but I guess it's easy to miss too.

[2018-02-25 12:55] nileio commented on #8
@lirantal can you please clarify . Is this a parameter accepted by dockly ? I can't see there is a parameter to set the docker_host as remote host. I will download and try but if you can clarify that will be great..

[2018-02-27 09:56] nileio commented on #8
I realised you meant to add it as an env variable! it works.. the only issue now is that I cant get a remote shell, it just displays a message and exits before I see what it is..

[2018-02-27 21:56] lirantal commented on #8
great.
@nileio can you please open a separate issue on the automatic shell thing and let's discuss it there?

[2018-02-27 22:43] lirantal commented on #50
I'll close for now but please feel free to re-open if there's anything more we can help with.

[2018-02-27 22:43] #50 closed

[2018-03-03 08:54] theFra985 commented on #50
Hi,
I've found the "bad grapic" using PuTTY on windows.
Although using the windows cmd (with the linux subsystem) the interface works better!
I don't know if it can be useful but i noticed that so... ¯\\\_(ツ)\_/¯

[2018-03-03 10:30] lirantal commented on #50
thanks! useful to know ;-)

[2018-04-07 07:55] #8 closed

[2018-04-14 16:39] thiagoloureiro opened #52 "Invisible Keys on CMD / Cmder / Powershell - on Windows"
## Expected Behavior
Show keys

## Actual Behavior
![image](https://user-images.githubusercontent.com/29433794/38770402-f8413f0e-4012-11e8-9941-bec6977ed500.png)

## Steps to Re-produce the Problem

  1. Install dockly

  2. Open Dockly

  3. Missing Keys from Menus

## Context

- Operating System:
- Node.js version (run `node --version`): v8.9.4
- Package version: 3.3.1
- Docker version (run `doc

[2018-04-14 17:43] lirantal commented on #52
@thiagoloureiro hey!
so you aren't seeing the shortcuts since they appear to be black, right?

[2018-04-14 17:48] thiagoloureiro commented on #52
@lirantal  exactly, only when I guess the shortcut he appear because have focus, but I Don't know what is the others because it's all black. (try

[2018-04-14 17:56] lirantal commented on #52
good point. choosing white will be a bit confusing due to the text being white too.
how does yellow look like?

![image](https://user-images.githubusercontent.com/316371/38771136-34115074-4026-11e8-806c-31c77d47bcc9.png)

![image](https://user-images.githubusercontent.com/316371/38771142-3f8a8c7c-4026-11e8-9cf5-5a932e2725f3.png)

![image](https://user-images.githubusercontent.com/316371/38771146-4

[2018-04-14 17:58] thiagoloureiro commented on #52
Yellow looks nice 👍

[2018-04-14 17:59] lirantal commented on #52
Cool, give me a sec to push in the change and you'll have a new version available in a couple of minutes.

[2018-04-14 18:06] lirantal commented on #52
3.3.2 released
can you test?

[2018-04-14 19:48] thiagoloureiro commented on #52
@lirantal  working , thanks a million.

[2018-04-14 19:48] #52 closed

[2018-04-14 19:49] lirantal commented on #52
my pleasure ;-)

[2018-04-16 09:41] j796160836 opened #54 "SyntaxError: Use of const in strict mode."
## Expected Behavior

It should runs normal.

## Actual Behavior

I encountered the `SyntaxError: Use of const in strict mode.` error and can't solve at my end.

[code]

## Steps to Re-produce the Problem

  1. I use my Mac and install dockly via npm

[code]

  2. Run `dockly` and shows the error above.

  3. I'm tried install the lack package `semver` and run again, but not work.

[code]

## Cont

[2018-04-16 09:55] lirantal commented on #54
@j796160836 you're running an extremely old version of Node.js (`Node.js version (run node --version): v0.10.33`)

Can you upgrade to the latest LTS? version 8
I recommend using [nvm](https://github.com/creationix/nvm) for this

[2018-04-16 20:12] lirantal commented on #54
@j796160836 did you work it out?
let me know if there's a way for me to help

[2018-04-17 02:03] j796160836 commented on #54
Thanks Liran,
After updates nodeJS and everything seems happy. 🙂
[code]
My node version updated to v9.11.1.
Thanks again.

[2018-04-17 02:03] #54 closed

[2018-04-17 21:55] erotte opened #55 ""shell" action just opens `dockerRunScript.sh` in editor (MacOs)"
## Expected Behavior
pressing 'L' should open a login shell to the selected container

## Actual Behavior
The file `dockerRunScript.sh` is opened in a text editir (XCode)

## Steps to Re-produce the Problem

  1. start dockly

  2. press 'l'

  3. `dockerRunScript.sh` opens in XCode

## Context

- Operating System:  macOS 10.13.3
- Node.js version (run `node --version`): 8.10.0
- Package version:

[2018-04-18 06:59] lirantal commented on #55
Hi Eckhard,

I believe this happens because XCode in your setup is associated with opening/editing `.sh` files.
Could you update file associations so that a terminal app like iterm or similar will run those type of files?

I'm also open to ideas about how to explicitly spawn terminal apps with the script but it would probably require some OS and apps detection.

[2018-04-18 20:14] erotte commented on #55
Hi,
I'm not sure what's the desired behaviour but I would expect that `dockerRunScript.sh` should be executed as shell script instead of opening it in the associated Application.

[2018-04-21 12:48] lirantal commented on #55
Eckhard,

We simply execute the script with whatever program is associated to it, which obviously changes from OS to OS. If you're able to make the change in your OS config to associate `.sh` files with a terminal program it should solve the problem.

As a more permanent solution though, I suggest we attempt to detect the OS and run the `dockerRunScript.sh` file with related terminal applications.

[2018-04-23 09:55] israelroldan opened #57 "Use 'sh' instead of '/bin/bash'"
## Expected Behavior
When launching an 'ssh' session (not really ssh but `docker exec`) via the `l` key command, I expect a terminal window to open and be inside my container.

## Actual Behavior
Alpine containers (but many others too) don't come with `/bin/bash` but with `/bin/sh`, and `sh` is actually more probable to be in the target container than `bash`. This causes the terminal session to ei

[2018-04-23 10:03] israelroldan commented on #57
I have created a PR for this, but I wanted to trigger a discussion first.

[2018-04-23 11:52] #57 closed

[2018-05-06 19:44] lirantal opened #60 "The actions menu display/hide isn't consistent"
## Expected Behavior
Toggling on/off the actions menu with the `m` key should work as expected.

## Actual Behavior
When toggling the menu to display, and then hiding it with `esc` key, clicking again the `m` key to display it doesn't work.

[2018-07-07 20:35] mcondren opened #65 "UnhandledPromiseRejectionWarning"
## Expected Behavior
Presented with Shell when ‘l’ is pressed.

## Actual Behavior
Error: (node: 21182) UnhandledPromiseRejectionWarnin: Unhandled promise rejection (rejection I’d: 3): Error: Exited with code 3

## Steps to Re-produce the Problem

  1. Select a container

  2. Press ‘l’

## Context

- Operating System: VMware Photon OS
- Node.js version (run `node --version`): 8.3.0
- Package vers

[2018-07-14 20:54] lirantal commented on #65
Hi @mcondren,

Thanks for filing the bug report!

It looks like in Photon OS the utility `xdg-open` is not available, which is what dockly uses behind the scenes to run a shell script that connects to the container.

If you're able to get it in that environment (maybe install `xdg-utils`) it should work.
I'm open to other suggestions otherwise.

[2018-08-31 17:03] guyzmo commented on #60
(if you `m` a second time it appears, though)

[2018-08-31 17:07] guyzmo opened #70 "Extra blank lines in log output"
## Expected Behavior

have the logs to appear contiguously

[code]

## Actual Behavior

there are extra blank lines in the logs

[code]

## Steps to Re-produce the Problem

  1. Select a docker container
  2. press `Return` to show its logs

## Context

- Operating System: Arch Linux
- Node.js version (run `node --version`): `v10.4.0`
- Package version: `dockly 3.7.0`
- Docker version (run `docker

[2018-08-31 17:10] guyzmo commented on #70
Also looking at the source code, it seems that the log part should be scrollable, and it is definitely not here. ☺ If that's the case, I'll make another issue

[2018-08-31 18:43] lirantal commented on #60
Right. It's a simple fix too.
Basically what's missing is that it is required to listen to both the `escape` key and the `m` keypress to toggle the visibility variable.

[2018-08-31 18:47] lirantal commented on #70
Indeed each log line is separated by a newline space.
Would you consider it more readable without the line break?

Scrolling in the logs - you need to either click on the logs container with your mouse or click the TAB key to switch focus between the container list and the logs, and when the logs are focused you can scroll up or down with either the keyboard or the mouse scroll wheel.

[2018-09-01 13:06] #70 closed

[2018-09-01 13:06] lirantal commented on #70
Fixed in https://github.com/lirantal/dockly/pull/71

[2018-09-01 13:29] #60 closed

[2018-09-01 21:08] MatanAvneri commented on #60
:tada: This issue has been resolved in version 3.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dockly)
- [GitHub release](https://github.com/lirantal/dockly/releases/tag/v3.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-01 21:08] MatanAvneri commented on #70
:tada: This issue has been resolved in version 3.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dockly)
- [GitHub release](https://github.com/lirantal/dockly/releases/tag/v3.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-01 21:09] MatanAvneri commented on #65
:tada: This issue has been resolved in version 3.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dockly)
- [GitHub release](https://github.com/lirantal/dockly/releases/tag/v3.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-18 15:55] zanedev opened #76 "Shell launches xcode editor w dockerRunScript.sh"
## Expected Behavior
Actual shell launches

## Actual Behavior
Xcode pops up with the run script code in it instead of executing
![image](https://user-images.githubusercontent.com/817344/45699913-07435180-bb20-11e8-8965-db6996dad50a.png)

## Steps to Re-produce the Problem

  1. Load dockly

  2. Choose container

  3. Run shell command

## Context

- Operating System: Mac High Sierra
- Node.js ve

[2018-09-19 12:36] lirantal commented on #76
Hi @zanedev,

This is happening because in your Mac `xcode` is set as the default launcher for file types associated with a `.sh` extension.

There's an easy way to change that, I found [this](https://www.laptopmag.com/articles/how-to-change-default-applications-mac) as the first google search result

[2018-09-25 18:08] #76 closed

[2018-09-28 19:18] davidlivingrooms opened #78 "Scroll through logs?"
Hi, this tool is already so great. Thanks for your hard work!

This may already be possible so please feel free to close if so. Is it possible to scroll through the entire logs for a container? The view window is rather small and seems to be truncated by default which makes sense for the dashboard. However, having an option to view the full logs somehow would make this my number 1 docker tool.

We

[2018-09-29 16:57] lirantal commented on #78
Thanks for the kind words 😊

That's a great idea!
I was thinking we can have a `+` key binding that whether you are viewing the containers list or the logs it will expand them to full screen. We don't need to open it as a new widget, just to re-layout the screen so that they take up the whole space.

WDYT?
Also, specifically using the `+` key you'd need to have 2 keystrokes (shift and `=`) because

[2018-11-09 17:28] sbernheim4 opened #80 "Integrate with Dive"
This is really cool. Thanks for your work! I also know of this other great CLI tool called [dive](https://github.com/wagoodman/dive) which lets you inspect the file system of a docker image at each layer.

It would be really cool if you could integrate this feature via a keybinding/command. I think this would bring a lot of utility to a high level tool like this.

[2018-11-09 20:05] lirantal commented on #80
Hi @sbernheim4,

Thanks for the warm words :)
Dive looks great!

It would probably be quite a bit of work to add support for that level of file browsing. Not too sure about having a special binding for Dive as that could result as somewhat of a grief for the user in cases where that tool isn't installed.

Happy to hear more feedback on this though.

[2018-11-12 15:58] zacanger opened #81 "Pressing `l` to open shell runs `xdg-open` on Linux"
## Expected Behavior

The script should be spawned.

## Actual Behavior

The script is opened with xdg-open on Linux, and the default handler on Mac (XCode, I think). On my computer, xdg-open ends up trying to open the script in Chromium, which then tries to download the script.

Related issues: #76, #55, possibly #65.

Rather than using open [here](https://github.com/lirantal/dockly/blob/v3.8.0/h

[2018-11-12 21:08] lirantal commented on #81
Thanks @zacanger for opening this issue again.
That is indeed an issue that has been repeating and I can see how much grief it can add.

I don't think `spawn` is going to be helpful in this case.
Maybe it's worth it to try and whitelist some terminal program paths and names and try to execute those?

[2018-11-13 05:12] lirantal commented on #81
yep, what do you think?
I was actually thinking that I don't need to even check the OS, just try running the shell script with one of them and as the promise fails just try another app one by one, until the OS will solve with the app that is tied to this filetype.

[2018-11-15 11:11] #81 closed

[2018-11-15 12:01] lirantal commented on #81
@zacanger I pushed a fix.
Can you `npm install -g dockly@3.8.1` and confirm if the terminal launching works for you now?

[2018-11-15 12:42] lirantal commented on #80
Happy to discuss more about this or other ideas. Will close for now.

[2018-11-15 12:42] #80 closed

[2018-11-15 17:03] zacanger commented on #81
That works! I'm on a Mac right now, but the change looks like it should be perfectly fine on Linux too. Thanks!

[2018-11-15 17:04] lirantal commented on #81
Awesome! thank you for the quick response in confirming.
Let me know if you find other issues or ideas to improve - I'll be happy to hear :)

[2018-11-19 21:48] chasingSublimity commented on #78
Hey there! I'm happy to take a swing at this issue. I'm still poking around the source code and may have some questions, but I think I can get something submitted for review here soon. :)

[2018-11-20 09:33] lirantal commented on #78
Sounds great! I'm here to help, so don't hesitate to ask.

[2018-12-04 10:18] daanbeverdam opened #83 "Feature request: start shell in same terminal window"
Right now when starting a shell for a docker container, the `dockerRunScript.sh` is launched in a new tab/window. Is it possible to have this script open in the same window (possibly integrated within the Dockly interface)? If you could give me some pointers on how to do this, I'll be more than happy to make a pull request.

[2018-12-04 19:33] lirantal commented on #83
@daanbeverdam thanks for chiming in and happy to hear dockly is helpful for you.

To make that happen it will require to current running shell command (dockly itself) to terminate and spawn a new command to connect to the container on the same shell. Upon exiting the command it will re-spawn dockly so you can go back and continue. Could work but sounds a bit qwarky no?

Another option is to embed

[2018-12-09 15:35] daanbeverdam commented on #83
Thanks for your reply (and sorry for my late one)! True, the embedded shell sounds like too much effort for a feature this small. For me, it would be fine to 'lose' the Dockly instance and not have it come back up after I exit the container's shell. Doesn't feel more hacky to me than opening it in a new tab, but our opinions may differ on that.

Would you consider merging if I'd implement it that

[2018-12-10 09:50] lirantal commented on #83
I love the pro-activeness spirit!

I'm happy to merge it if you can make it happen.
Would like to think however how would we call it (i.e shortcuts system today) and thinking maybe it can be a config flag (say an environment variable) where the default is to keep existing functionality as is today?

[2018-12-10 12:38] daanbeverdam commented on #83
Great! Yeah, seems like a good idea. I'll look into it when I can find the time and keep you posted!

[2018-12-10 13:17] lirantal commented on #83
Sounds great!

[2019-01-02 08:57] Jamesking56 opened #84 "Dockly via docker, hide itself"
## Expected Behavior

If I run Dockly via Docker, it should not show itself in the running containers list.

## Actual Behavior

It appears in the running containers list.

## Steps to Re-produce the Problem

  1. Launch Dockly via Docker

  2. Check the list to see if it includes Dockly.

## Context

- Operating System: Ubuntu 16.04.5 LTS
- Node.js version (run `node --version`): v8.15.0
- Packag

[2019-01-02 09:01] Jamesking56 opened #85 "Dockly via Docker, container left behind"
## Expected Behavior

When running dockly via Docker and pressing `q` to quit, the dockly container should no longer exist.

## Actual Behavior

The container is left behind.

## Steps to Re-produce the Problem

  1. Launch dockly via Docker

  2. Press `q` to quit

  3. Do `docker container ls -a` and see dockly still exists as a container

## Context

- Operating System: Ubuntu 16.04.5 LTS
- Nod

[2019-01-02 09:03] lirantal commented on #84
👋 @Jamesking56

Feels like Inception :-)

Makes sense we should exclude it from the list as otherwise, users can accidentally restart it etc.
Is there anything else you'd expect from the fix?

[2019-01-02 09:07] Jamesking56 commented on #84
Nope, just so that its hidden to stop any accidental stuff.

Pairs slightly with #86 - as if the container you're running removes itself anyway then there is no reason for dockly to show it in the list.

[2019-01-02 09:13] #85 closed

[2019-01-13 22:57] MatanAvneri commented on #85
:tada: This issue has been resolved in version 3.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dockly)
- [GitHub release](https://github.com/lirantal/dockly/releases/tag/v3.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-14 15:04] KadenLNelson opened #88 "log widget concatenates logs to screen on every '[return]' keypress"
## Expected Behavior
When I want to select a container to view logs, I would expect that everytime I press `[return]`, the logs would `refresh` on the screen and not continuously be appended to the widget on every keypress

## Actual Behavior
https://gyazo.com/94176c93f28bd37c65c26ba0a0a1ef9e, in this gif I'm opening dockly using the cli `dockly` and continuously pressing `[return]` to get the con

[2019-01-18 21:41] KadenLNelson commented on #78
I have a couple of questions, do you have any communication platforms? Slack, Keybase, etc..

[2019-01-18 22:14] KadenLNelson opened #89 "Is it possible to add package-lock.json to the gitignore?"
I browsed the repositories history for a while, I noticed that `package-lock.json` hasn't been in the repo's tracked files. Is it possible to add to `.gitignore` to reduce noise?

[2019-01-19 09:32] lirantal commented on #78
I guess here would be just fine...?
Otherwise I'm on twitter tool, you can DM me there if needed (`@liran_tal`)

[2019-01-19 09:34] lirantal commented on #89
For developing on dockly I use yarn instead of npm, so that's why you don't see a `package-lock.json` and instead we have a `yarn.lock` on the repo:

![image](https://user-images.githubusercontent.com/316371/51424948-13c6dc00-1bde-11e9-8522-46b67e3c4960.png)

Sure, can you open a PR to update .gitignore?

[2019-01-19 18:19] #89 closed

[2019-01-23 12:14] keithy opened #92 "Light mode theme needed"
Dockly doesn't display well in a terminal using light colouring.

[2019-01-23 16:52] lirantal commented on #92
should we perhaps have support for themes?
if so, how would we control that? cmd line arguments?

[2019-02-04 11:23] Xantios commented on #84
I dont see how that is a bug or a issue at all?
If you list containers using `docker ps` it should list all containers and i don't see why dockly should have other behaviour ?

[2019-02-05 06:32] lirantal commented on #84
I mean you could accidentally stop the dockly container from within dockly (when its running as a container by itself). Wouldn't that be weird?

[2019-02-05 21:16] lirantal opened #96 "Add to Dockly a capability to copy container id to clipboard"
Feature request to add to dockly a key shortcut that copies the container id of the container that is being hovered/selected from the container list to the clipboard.

[2019-02-13 20:56] triforcely commented on #83
Hey! I created [PoC for this feature](https://github.com/triforcely/dockly/commit/c7381bf41d15b75f46ca8d203de175dec5a63bff)

![integrated-shell](https://user-images.githubusercontent.com/12202969/52742747-bead9880-2fd8-11e9-84b0-55d339f4c7e8.gif)

It basically freezes blessedjs (because of execSync), clears console and executes docker command. After interactive console is exitted, console is clear

[2019-02-13 22:23] lirantal commented on #83
Woah great job @triforcely! 🔥
I can help test it on Mac, Linux and inside a docker container.

[2019-02-14 07:28] triforcely commented on #84
I agree with @Xantios. Additional complexity in this area seems unnecessary and misleading to users because the container is running after all, so why shouldn't it be visible?

[2019-02-14 13:01] lirantal commented on #84
Agree. Not seeing any particular strong point to implement the change.
Happy to re-discuss.

Thanks @triforcely @Jamesking56 and @Xantios for chiming in!

[2019-02-14 13:01] #84 closed

[2019-02-15 08:09] #88 closed

[2019-02-15 08:11] lirantal commented on #88
:tada: This issue has been resolved in version 3.10.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dockly)
- [GitHub release](https://github.com/lirantal/dockly/releases/tag/v3.10.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-19 17:17] triforcely opened #99 "Better handling for modal windows / child windows - layer manager?"
_This is more like an invitation to the discussion about the architecture of dockly than bug report at this point_

## Expected Behavior

You shouldn't be able to lose focus from the active dialog (like m:menu widget). As a contributor, I would like to define correct way of handling this problem in the future.

## Actual Behavior

You can permanently lose focus when the tab is pressed while 'm'enu

[2019-02-23 13:13] lirantal commented on #83
Fixed by #97

[2019-02-23 13:13] #83 closed

[2019-02-24 16:37] KadenLNelson commented on #99
Hey @triforcely did you have any drafts/ideas on how to implement this Layer Manager?

[2019-02-26 07:25] triforcely commented on #99
Yes, I was thinking of creating something like abstract "view" which could be pushed/popped to/from Layer Manager. But maybe I'm overthinking it and missing some simple solution?

I'll try to come up with a PoC for this feature in a few days but don't expect it too soon - don't let this issue block other work in the repository 😃

[2019-03-22 09:38] lirantal opened #100 "Security issues due to deps"
## Expected Behavior
No security vulnerabilities introduced through libraries

## Actual Behavior
Snyk test reports:

[code]

## Steps to Re-produce the Problem
  1. Install snyk
  2. Run snyk test

[2019-03-22 17:08] #100 closed

[2019-03-22 17:09] lirantal commented on #100
:tada: This issue has been resolved in version 3.10.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dockly)
- [GitHub release](https://github.com/lirantal/dockly/releases/tag/v3.10.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-26 06:32] triforcely commented on #99
I'm closing this issue because after some time of thinking I realized that it might be unnecessary at this point.

[2019-03-26 06:32] #99 closed

[2019-04-02 10:59] bieron opened #102 "Can't exec into container"
I'm using dockerised version of dockly, and I have multiple containers running, all of them have both sh and bash installed. Other dockly features work well.

## Expected Behavior
A shell inside a container is opened

## Actual Behavior
ERROR spawnsync docker ENOENT

## Steps to Re-produce the Problem

  1. select a container and press "l"

## Context

- Operating System: ubuntu 16.04
- Node.js ve

[2019-04-02 21:32] lirantal commented on #102
Ok I see why that's not actually working... the code that is responsible to connect over a shell is this:
[code]

It's trying to spawn `docker` to get it connected to the container but we don't have `docker` as a utility installed inside of dockly's base image. We're using alpine which is great because it's small but it definitely doesn't have docker installed inside it.

Looking at the DIND (Dock

[2019-04-05 17:17] #102 closed

[2019-04-05 17:19] lirantal commented on #102
:tada: This issue has been resolved in version 3.10.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dockly)
- [GitHub release](https://github.com/lirantal/dockly/releases/tag/v3.10.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-17 16:32] scollonp opened #105 "Container Permissions"
## Expected Behavior

A logged in system user should only be able to delete/restart/stop containers that they create

## Actual Behavior

A logged in system user who executes dockly can delete ANY container

## Steps to Re-produce the Problem

  1. Create a docker container

  2. Change user and run dockly

  3. Delete the previous users container!

## Context

- Operating System: Ubuntu 18.04 LTS

[2019-04-17 17:05] art1415926535 opened #106 "Extra green lines"
## Actual Behavior
I have 5 extra green lines at the bottom of the window.

![image](https://user-images.githubusercontent.com/5222234/56305918-eee4f500-6149-11e9-83f9-bf32fbe5902c.png)

## Steps to Re-produce the Problem
  1. Install Dockly.
  2. Run Dockly from cmd.exe.

## Context
- Operating System: Windows 10
- Node.js version (run `node --version`): v10.15.2
- Package version: 3.10.5
- Docke

[2019-04-17 19:43] lirantal commented on #105
Thanks @scollonp for chiming in on this. An interesting question indeed!
I'm not entirely convinced we want to support that because I envision dockly as more of a self-productivity tool than something you'd run on a service shell.

Another thing is, you will see with dockly the same containers as you see when the user does `docker ps` on the CLI and have the same access. Or are you saying this is

[2019-04-17 20:09] lirantal commented on #106
I have that too (as in, it's expected :))

![image](https://user-images.githubusercontent.com/316371/56317606-d2ef4c80-6165-11e9-989a-d069ade17ffc.png)

[2019-04-18 05:53] art1415926535 commented on #106
Can I remove it to increase logs box?

Like this:
![dockly-demo-2](https://cloud.githubusercontent.com/assets/316371/25682867/c5212216-3027-11e7-8f36-72d38516d2af.gif)

[2019-04-18 06:01] lirantal commented on #106
I see what you mean but for the new version we use a layout system which really has just one block set for the toolbar but due to automatic positioning it's taking up the relevant space.

See:
[code]

If you're able to figure out better spacing I'm happy to merge a PR

[2019-04-18 08:03] scollonp commented on #105
Perhaps this is more a docker issue than a dockly issue. I'm testing different tools to present docker to students in class and was looking at dockly vs portainer, matching features. Portainer only let's users see and change the state of their OWN containers. I think I'll be using dockly on the admin side of things only, as you suggest.

[2019-04-18 08:08] lirantal commented on #105
Cool, thanks!
And.. sounds awesome that you're teaching this in class ✨Goodluck!

[2019-04-18 08:08] #105 closed

[2019-05-02 20:34] lirantal commented on #106
@art1415926535 I'll close this issue out due to inactivity and currently no action planned on it. I'm also happy if you want to re-open and re-engage in the conversation on this!

[2019-05-02 20:34] #106 closed

[2019-05-04 08:00] kbariotis opened #108 "Ability to read a specific docker-compose file"
This is a feature request. I was wondering if we could read a specific docker-compose file so you can manage only the containers defined in that file.

On my local development, I have myriads of containers running but often times I want to inspect or manage only the containers of the specific project I am working on, which has its own docker-compose definition.

Thank you, loved this tool. 💯

[2019-05-07 07:17] lirantal commented on #108
Hi @kbariotis 👋

I like this idea!

Happy to pick your brain on how something like this would work. WDYT on:
1. parse `docker-compose.yml` to flesh out the container names based on the `services` clause, and allow `container_name` for each one of them to override the actual name.
2. filter the list to show only these

Questions about functionality around this:
1. If you're in a directory that has

[2019-05-08 09:15] flowli opened #109 "Control characters when moving mouse in terminal"
## Expected Behavior
The same like entering the container shell with docker exec -it <hash> bash - which is being able to move the mouse over the terminal without outputting strange control characters.

## Actual Behavior
Output of strange control characters ;-)

## Steps to Re-produce the Problem

  1. use ddev to create a php environment, start it with "ddev start" (but maybe just any container)

[2019-05-08 09:15] flowli commented on #109
An example of how this looks: <img width="1299" alt="Screenshot 2019-05-08 at 11 15 28" src="https://user-images.githubusercontent.com/2144428/57364048-9fab4680-7182-11e9-9741-e2cd18992b56.png">

[2019-06-13 11:12] ybs5 commented on #109
Me too.My environment is
* OS ubuntu18.10
* nodejs 8.11.4
* npm 5.8.0
* docker 18.09.6
* dockly 3.11.0

[2019-07-17 06:26] maku opened #111 "Handling docker images"
Is there a plan to also support to manage docker images?

[2019-07-17 07:06] lirantal commented on #111
Shouldn't be too much trouble to add with the infrastructure we currently have that you can manage listing pretty easily.

The menu in `m` already has some quick access to image operations like pruning them all etc.
Could you mock out what you had in mind for the images and what kind of functionality would you need?

[2019-07-17 15:34] maku commented on #111
Sounds great:
It would be great to be able to switch to a view (table) which provides the information you get with the command: `docker images`

Then it should be possible to navigate on the images.
When an image is selected it would be nice to execute certain actions

- get inspect information (`docker image inspect`)
- remove an image
- force remove an image

Of course there are some "nice to ha

[2019-07-19 17:25] seinick commented on #109
I have this issue.

- OS: Mac OS 10.14.5
- nodejs v10.15.3
- dockly 3.11.0

[2019-08-04 11:46] NightMachinary commented on #92
@lirantal I suggest adding a simple --light-mode that uses colors that are friendly with most light-themed terminals. `glances` does this via `--theme-white`.

[2019-08-09 19:43] lirantal commented on #92
I like this. Would be happy to get a PR for this.

[2019-09-08 21:05] lirantal commented on #109
I can reproduce the same issue indeed. Will take a look at a possible fix, or perhaps revert to opening the shell in a new window if that would work.

[2019-09-09 06:09] #78 closed

[2019-09-09 06:12] lirantal commented on #78
:tada: This issue has been resolved in version 3.13.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dockly)
- [GitHub release](https://github.com/lirantal/dockly/releases/tag/v3.13.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-09 06:15] lirantal commented on #109
@flowli @seinick @ybs5 as a workaround, after you're in the shell with `l`, can you type in the command `reset` and click return to see if that fixed it?

I could make that reset command run by default but then when you exit back to dockly interface you'd be left without a mouse so I'm still wondering if there's a proper fix for it.

[2019-09-09 06:21] lirantal commented on #109
Seems we can enable and disable mouse tracking with:

enable:
[code]

disable:
[code]

So perhaps a script wrapping the login command that does this would work.
How critical is mouse support in the shell? :D

[2019-09-09 12:05] seinick commented on #109
To me mouse support is completely unnecessary in the shell.

[2019-09-09 12:08] flowli commented on #109
Full ack, no mouse needed.

[2019-09-19 06:10] #109 closed

[2019-09-19 06:11] lirantal commented on #109
:tada: This issue has been resolved in version 3.14.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dockly)
- [GitHub release](https://github.com/lirantal/dockly/releases/tag/v3.14.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-19 06:15] lirantal commented on #109
@flowli @seinick @ybs5
can you please install the newer version of dockly: `npm install --global dockly@latest` and see if the fix I pushed solves the problem for you?

latest version should be 3.14.2
thanks!

[2019-09-19 22:45] flowli commented on #109
Thanks for the update. Unfortunately when I press "l:shell" the status looks as follows:

<img width="785" alt="Screenshot 2019-09-20 at 00 44 11" src="https://user-images.githubusercontent.com/2144428/65286423-d4bba280-db3f-11e9-86b1-a41e8092b5c6.png">

[2019-09-20 01:06] lirantal commented on #109
@flowli Oh indeed! I forgot that we are now whitelisting files when creating the dockly package.
I pushed a fixed version, can you `npm install -g dockly@latest` again and check it?

[2019-09-20 06:08] flowli commented on #109
@lirantal Works now, Liran. ❤️from Erkrath, Germany

[2019-09-20 07:00] lirantal commented on #109
thank you for the quick catch ❤️❤️❤️

[2019-09-23 18:28] lonix1 opened #122 "[Question] Install via apt"
On a small VPS that doesn't have anything extra installed, it would be nice to be able to install a packaged version (e.g. apt).

Is this possible?

[2019-09-24 21:16] lirantal commented on #122
It's been long years since I had worked closely to package management teams in Linux distribution so at the moment I'm probably not the best person to lead this. I'm happy however to assist in any way I can.

Did you notice that there's also a way to use dockly with docker?

[2019-09-25 06:52] lonix1 commented on #122
I've never done package management so wouldn't know where to start 😄

I noticed the docker version but maybe that's overkill (for me). I like the idea of just running it from anywhere. I'll use the npm version for now. Thanks, it's a very nice tool.

[2019-09-25 06:55] lirantal commented on #122
Cool thanks! :)

[2019-09-25 06:55] #122 closed

[2019-09-28 13:40] norweeg commented on #50
@lirantal  @theFra985 @solarisfire I have a solution for bad GUI drawing in PuTTY.  In your session settings, you need to check the following box:
![image](https://user-images.githubusercontent.com/5969754/65817353-fff36100-e1d3-11e9-958d-9d241e973ec9.png)

[2019-09-29 23:25] lirantal commented on #50
thanks @norweeg 👍✨

[2019-11-07 10:08] jscooksey commented on #92
I would like to take a look at this.  I wont be quick, as the 9-5 job is pretty busy at present, but I'll keep you up to date if required.

[2019-11-07 10:12] lirantal commented on #92
@jscooksey awesome. Would love to merge it if you push it in and take your time to spend with family too, don't need to rush this ❤️

Ping me for anything you'd like to consult or run ideas off while you're working on it.
A general suggestion is to be able to support several themes, and so you could allow for a configuration of colors, and then load a default or a specific one based on ENV VARS or

[2019-11-21 06:29] strike-noir opened #123 "Text UI not displayed properly"
I'm liking dockly very much. But in my PuTTY terminal the TUI are not displayed properly.

[screenshot](https://www.dropbox.com/s/bc2j4q4geixjq3j/dockly.PNG?dl=0)

Am I missing a Node.js package or is PuTTY client not supported?

[2019-11-21 08:20] lirantal commented on #123
Unfortunately I'm not entirely sure how to resolve that as the whole screen UI is managed by another library so I don't have any quick fix for that.

[2019-11-22 03:35] strike-noir commented on #123
Here is what npm said about the packages. I hope you can help.

[code]

[2019-11-22 10:28] lirantal commented on #123
@strike-noir do you have a problem running dockly? I didn't understand from the above comment if you are unable to install it

[2019-12-05 20:33] lpjune commented on #92
is anyone still working on this? wanna check it out but don't wanna steal it from someone!

[2019-12-05 22:12] lirantal commented on #92
@lpjune doesn't seem like it... ?
I'd be happy to merge if you want to pick it up

[2019-12-07 08:26] jscooksey commented on #92
Please go ahead, I did make a start but haven’t been able to get time to get in to it.  Apologies.

From: Lauren <notifications@github.com>
Sent: Friday, 6 December 2019 7:34 AM
To: lirantal/dockly <dockly@noreply.github.com>
Cc: Justin Cooksey <justin@cooksey.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [lirantal/dockly] Light mode theme needed (#92)

is anyone still working on this

[2019-12-08 07:24] aspiers opened #124 "MaxListenersExceededWarning: Possible EventEmitter memory leak detected."
## Expected Behavior

No errors are shown.

## Actual Behavior

Errors are emitted which messes up the display:

    (node:2248) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 key listeners added. Use emitter.setMaxListeners() to increase limit

## Steps to Reproduce the Problem

  1. Launch Ubuntu 19.04 Disco Dingo image on AWS

  2. sudo npm -g install dockly

  3. R

[2020-01-13 19:49] norweeg commented on #123
@strike-noir it's not a bug.  You need to change your PuTTY settings.
See https://github.com/lirantal/dockly/issues/50#issuecomment-536190949

[2020-01-15 09:40] strike-noir commented on #123
Hey the options Enable VT100 fixes it. Thanks!

[2020-01-15 09:40] #123 closed

[2020-01-17 09:45] lirantal commented on #123
@norweeg thanks for following up!
I'll go ahead and update the README with this

[2020-01-29 01:10] einsqing opened #132 "Delete the selected container, unable to refresh"
Delete the selected container, unable to refresh

[2020-04-06 08:23] hoegge opened #135 "alternative key for refresh"
## Current behaviour

Currently you press '=' to refresh the view, which is ok on a US keyboard. But a lot of keyboard have '=' on a shifted key, so you have to press shift+key every time you refresh

## Suggestion

Would you consider to change the shorcut key to \<space\> instead?

It much easier to hit and the same for all keyboard layouts.

PS: Thanks for the best docker GUI ever

[2020-04-07 06:05] lirantal commented on #135
That's a valid concern and I think that's a good idea too. Do you want to PR the change to the repo?

[2020-04-07 08:51] hoegge commented on #135
OK - I'll try to see if I can figure it out and test it - brb

[2020-04-07 11:58] hoegge commented on #135
Have changed it, run test and seems to work fine.

[2020-04-10 11:48] hoegge commented on #135
Hi, Sorry for being ignorant. Do I need to do more to complete this (seems like the pull request went throug). Then I just close this issue (since it is assigned to me)?
Does it automatically update at NPM or do you have to do something for making a release?

[2020-04-14 17:59] lirantal commented on #135
@hoegge indeed, there was an issue with releasing a new version to npm. Looking into it now.

[2020-04-14 18:35] lirantal commented on #135
There we go, now there's a new dockly version released which should have this feature added.
Thanks for the ping @hoegge 👌

[2020-04-14 18:36] #135 closed

[2020-08-26 23:11] lirantal opened #139 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-08-26 23:11] lirantal commented on #139
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-08-26 23:13] lirantal commented on #139
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-08-27 08:33] lirantal commented on #139
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-08-27 08:33] lirantal commented on #139
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-11-29 06:10] lirantal commented on #139
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-11-29 06:11] lirantal commented on #139
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-12-01 16:45] lirantal commented on #139
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-12-01 16:45] lirantal commented on #139
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-04-02 18:04] norweeg opened #145 "Containers removed after start of Dockly remain after refresh"
## Expected Behavior
Containers which have been removed and are no longer displayed after refreshing Dockly

## Actual Behavior
The containers are still displayed as if they were still there

## Steps to Re-produce the Problem

  1. Create some containers

  2. Open Dockly

  3. Remove the containers from step 1

## Context

- Operating System: Linux raspi 5.4.0-1032-raspi aarch64
- Node.js versio

[2021-04-04 19:28] lirantal commented on #145
@norweeg if you remove the container and then press the `spacebar` to refresh the list, do they still show up or are they gone?

[2021-04-04 19:32] norweeg commented on #145
Nope, they are still there.  I specifically had dockly open, ran a docker-compose up, docker-compose down, and then docker-compose up again and had the containers that were removed by docker-compose down displaying alongside the ones that were newly created when I brought it up again

[2021-04-04 19:37] lirantal commented on #145
Oh, but isn't docker-compose down simply stopping them? they would still show up on the list, just in a stopped state.

[2021-04-04 20:14] norweeg commented on #145
No, it removes them. docker-compose stop stops them.

[2021-04-05 05:55] lirantal commented on #145
I think you're right. I may have been able to reproduce it. Looking at this.

[2021-04-05 06:33] #145 closed

[2021-04-05 06:34] lirantal commented on #145
@norweeg managed to reproduce and fix, pushing now a new release.
Thanks for opening it!

[2021-04-05 06:36] #139 closed

[2021-04-05 06:39] lirantal opened #147 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-04-05 06:39] lirantal commented on #147
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-04-05 06:40] lirantal commented on #147
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-04-05 06:44] lirantal commented on #145
:tada: This issue has been resolved in version 3.17.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dockly)
- [GitHub release](https://github.com/lirantal/dockly/releases/tag/v3.17.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-05 06:44] #147 closed

[2021-05-05 08:21] shlomiyeni commented on #132
@lirantal seems like this bug was fixed in one of the latest releases.
I didn't manage to reproduce it.

[2021-05-05 09:07] sebastian-curland commented on #96
I would be happy to work on this one

[2021-05-05 09:15] sebastian-curland commented on #96
https://github.com/lirantal/dockly/pull/149

[2021-05-05 12:35] sebastian-curland commented on #92
I'll give it a try

[2021-05-05 13:47] sebastian-curland commented on #92
https://github.com/lirantal/dockly/pull/150

[2021-05-07 18:06] lirantal commented on #132
Thanks, closing!

[2021-05-07 18:12] #96 closed

[2021-05-08 12:39] OmriBarZik commented on #111
If no one working on this feature I would like to give it a try.

[2021-05-09 03:25] OmriBarZik opened #152 "Copy Container Id Showing In Services View"
## Expected Behavior
The option `copy container id` showing only in containers view

## Actual Behavior
`copy container id` showing only in all the views.

## Steps to Re-produce the Problem

  1. open dockly

  2. press v

## Context

- Operating System: windows 10 pro
- Node.js version (run `node --version`): v14.16.1
- Package version: main branch
- Docker version (run `docker --version`): 20.1

[2021-05-09 05:10] #124 closed

[2021-05-09 05:10] lirantal commented on #152
You mean you'd like to have it in services view as well?

[2021-05-09 05:21] OmriBarZik commented on #152
I mean that the option is visible but dose not function.

[2021-05-30 06:11] OmriBarZik commented on #111
this is what I've done so far, what do you think? Any suggestions?

![render1622353131525](https://user-images.githubusercontent.com/16163470/120094050-c13f4800-c126-11eb-8812-3a83aad1a313.gif)

[2021-06-05 12:21] lirantal commented on #111
@OmriBarZik looks incredible!

Some comments:
1. I guess the expand logs toolbar option is irrelevant there? if so, I'd remove it.
2. How do you switch back to container listing? with toggling `v`, or something else?

Seems to me ready to send over a pull request so we can merge it in.

[2021-06-08 08:19] OmriBarZik commented on #111
1. No Problem I will remove it.
2. You can go back to the container listing by pressing `v`

[2021-06-09 19:48] OmriBarZik opened #156 "dockly crash when pressing "-" in service view"
## Expected Behavior
when pressing `-` the log panel should expend

## Actual Behavior
when pressing `-` in the services view dockly crash

## Steps to Re-produce the Problem

  1. go to the services view

  2. press `-`

## Context

- Operating System: Windows 10
- Node.js version (run `node --version`): v14.16.1
- Package version:  development
- Docker version (run `docker --version`): 20.10.6
-

[2021-06-10 05:08] #156 closed

[2021-06-10 06:31] OmriBarZik opened #158 "dockly crash when pressing "tab" in service view"
## Expected Behavior
when pressing `tab` the focus should change to the log widget

## Actual Behavior
dockly crashes when pressing tab in the service view

## Steps to Re-produce the Problem

  1. go to the services view

  2. press `tab`

## Context

- Operating System: Windows 10
- Node.js version (run `node --version`): v14.16.1
- Package version:  development
- Docker version (run `docker --v

[2021-06-10 07:32] OmriBarZik commented on #158
hey @lirantal the problem here is that the screen trying to get `containerLogs` and `containerList` instead of the current `log` and `list`. [link](https://github.com/lirantal/dockly/blob/master/src/screen.js#L176)

I thought of 2 ways to solve this and be more generic overall:
1. searching the widget map for widgets that are instances of `ListWidget` and `LogWidget` accordingly.
2. create a metho

[2021-06-11 19:29] lirantal commented on #158
I guess that maybe (3) would be specific to each type of screens and then letting each screen type (containers/services/images) handle its own tab press handling its own way is probably best at this point. Do you think we should go for a different way?

[2021-06-17 13:49] OmriBarZik opened #160 "CI in PR's fails because of build_docs job"
## Expected Behavior
The `build_docs` job should not run when creating PR

We should add a check to the job to run only when the PR push to the master like in the [`release` job](https://github.com/lirantal/dockly/blob/master/.github/workflows/main.yml#L30).

## Actual Behavior
The `build_docs` job run and make the CI fails

## Steps to Re-produce the Problem

  1. create PR in a fork

## Context

[2021-06-18 09:27] lirantal commented on #160
Fixed in #161

[2021-06-18 09:27] #160 closed

[2021-06-18 10:00] #158 closed

[2021-06-18 10:58] OmriBarZik opened #162 "Search Not Working in Service View"
## Expected Behavior
Search should filter service

## Actual Behavior
nothing happened

## Steps to Re-produce the Problem

  1. Go to service view

  2. press `/`

## Context

- Operating System: Windows 10
- Node.js version (run `node --version`): v14.16.1
- Package version:  development
- Docker version (run `docker --version`): 20.10.6
- Is docker installed locally? yes
- Do you have container

[2021-06-18 11:31] lirantal opened #163 "Fix: upgrade blessed-contrib dep version to latest (4.9.0)"
## Expected Behavior

`blessed-contrib` version 4.9.0 has no vulnerable deps anymore.

## Actual Behavior

Current version has a few vulnerable deps (lodash and marked)

## Steps to Re-produce the Problem

  1. snyk test
  2. see rsults

[2021-06-18 21:54] #162 closed

[2021-06-19 04:55] #111 closed

[2021-06-20 05:58] OmriBarZik commented on #163
Fixed in #166

[2021-06-20 05:58] #163 closed

[2021-06-21 18:56] #152 closed

[2021-06-21 18:56] lirantal commented on #92
Fixed in #150

[2021-06-21 18:56] #92 closed

[2021-06-29 16:17] CJZiejewski opened #171 "Podman Compatibility"
## Expected Behavior
Ability to auto-detect presence of the Docker or Podman container engines
 - Podman should be a drop-in substitution with /var/run/docker.sock being replaced by /var/run/podman on RHEL 8
 - Likely possible to detect docker.sock vs podman in /var/run/ and substitute one for the other. Command syntax when needed is supposed to be identical and pulls from the same container sourc

[2021-06-29 18:39] lirantal commented on #171
Sounds like something we can definitely support, thanks for filing the issue @CJZiejewski.

If I create a branch with the needed changes, will you be able to clone it and test if it works for you?

[2021-06-29 19:58] OmriBarZik commented on #171
After some research, I successfully attached podman's socket to dockly, unfortunately not all the features work as expected, especially the image view 😢

you just need to pass the podman socket to dockly like this:

[code]

please note that I needed to use `sudo` to run this successfully

[2021-06-30 14:22] lirantal opened #173 "Docker may crash if in Images view?"
On a Mac, the docker does run, but crashes when in the `Images` view and pressing return.
`Error: method clearItemlogs not implemented`

Original issue reported here on the reddit thread: https://www.reddit.com/r/commandline/comments/oa387e/i_created_an_htoplike_terminal_dashboard_for/h3jcre6?utm_source=share&utm_medium=web2x&context=3

[2021-06-30 14:23] lirantal opened #174 "The "return" key causes issues on the Containers view"
Same when in Containers view, pressing "Return" (to see the logs) and then "v" to change the view.
Error: Cannot read property 'update' of undefined

[2021-06-30 14:25] lirantal opened #175 "Copying the container to the clipboard fails on some systems"
`Error: Error: Couldn't find thexsel binary and fallback didn't work. On Debian/Ubuntu you can install xsel with: sudo apt install xsel`

@OmriBarZik seems like `clipboardy` should be cross platform but it may also not be found in some systems. Perhaps worth to catch the error thrown in cases where it isn't available?

[2021-06-30 17:32] OmriBarZik commented on #174
I can't replicate this bug, can you elaborate, please 🙏

[2021-06-30 18:35] OmriBarZik commented on #175
`clipboardy` has the `xsel` in its source code, so it is weird, but I agree that we should add a case where `clipboardy` won't work.
I'll do a PR today

[2021-06-30 21:31] OmriBarZik commented on #175
after some research, I found out that `xsel` fails when you try to copy to a remote computer.
if you will try to use dockly on a remote machine with ssh this may happen.

[2021-07-01 05:07] #173 closed

[2021-07-01 05:47] lirantal commented on #174
It was reported by someone on a reddit thread, can't replicate it either :(
Let's close for now.

[2021-07-01 05:47] #174 closed

[2021-07-01 05:50] #175 closed

[2021-07-07 17:33] OmriBarZik opened #179 "Remove Unused RP Checks"
I think we should remove this checks from the PR process:
 * `continuous-integration/travis-ci Expected`
 * `dockly`
 * `security/snyk - package.json (lirantal)`

They just make the status update wait indefinitely and the PR never 'passes', only 'waiting' or 'fail'.

[2021-07-07 17:45] CJZiejewski commented on #171
Sorry for the late reply, I can test out the branch when that's ready. Going to test on x86_64 and ppc64le as those are the arches I'm running internally.

[2021-07-08 17:48] lirantal commented on #171
@CJZiejewski Thanks CJ! Looking forward for your input so we can merge :-)

[2021-07-08 17:49] lirantal commented on #171
(☝️ sorry, wrong button ;-))

[2021-07-08 17:55] lirantal commented on #179
Indeed. Just updated the status checks to remove them.
Thanks!

[2021-07-08 17:55] #179 closed

[2021-07-13 19:59] lirantal commented on #108
Will close for now :-)

[2021-07-13 19:59] #108 closed

[2021-07-13 20:00] lirantal commented on #171
Hi @CJZiejewski
We just merged this pull request by @OmriBarZik  https://github.com/lirantal/dockly/pull/172 which should add better support for podman. Can you try it ou?

[2021-11-29 17:22] lirantal commented on #171
Closing for now :-)

[2022-01-14 16:07] myishay opened #189 "Install dockly using brew"
It could be nice adding dockly to brew!
Simply by typing `brew install dockly`.

This way, there is no need to have any dependency other than having brew installed (brew installs node and npm for you if required).

I already tried to do it with a local homebrew formula that I created for dockly and it works 💻  I would love to add it to the official [homebrew-core](https://github.com/Homebrew/homeb

[2022-01-14 22:00] lirantal commented on #189
That's amazing, I would love that.
Is there anything we need to change in dockly to get that to work, or simply requiring Node.js/npm would be enough as a prerequisite?

[2022-01-15 12:05] myishay commented on #189
No need to change anything 😎

I have created a PR to homebrew, you can view it here: https://github.com/Homebrew/homebrew-core/pull/93186

I'll add a line in the readme and create a PR, let me know what you think 😊

[2022-01-15 14:25] lirantal commented on #189
Ok I'll keep an eye there

[2022-02-17 15:53] GimpMaster opened #194 "[Bug]: Cannot find node module node:process"
### What went wrong?

I installed dockly via npm install -g dockly. When running it I got this error

[code]

### Your environment setup

- Operating System: Ubuntu 20.04 LTS
- Node.js version (run `node --version`): node 14.17.5
- Package version: npm: 6.14.14
- Docker version (run `docker --version`): Docker version 19.03.1, build 74b1e89
- Is docker installed locally? Yes
- Do you have containe

[2022-02-17 17:55] antoniofrignani commented on #194
Same error, Node v14.17.1, MacOS 12.0.1

[code]

[2022-02-17 19:13] neoromantic opened #195 "Support docker contexts for remote hosts"
One can leverage docker contexts to manage remote docker host:

[code]

Now, all docker commands are being run in this remote server, even docker-compose and whatever.

Sadly, dockly can't do that. I suppose, it could — it might be even quite easy to integrate?

Hope to hear what you think!

[2022-02-17 20:26] OmriBarZik commented on #194
Hey, @antoniofrignani @GimpMaster thanks for opening the issue!
It looks like we have a bug in version node versions 14.17.6 and lower, I'm working on a fix but in the meantime, you can update your node versions to 14.18.0 and Dockly will work

[2022-02-17 21:51] OmriBarZik commented on #195
@neoromantic  That sounds like a great idea! I have created a PR to implement this

[2022-02-19 12:24] #195 closed

[2022-02-19 12:25] lirantal commented on #194
@OmriBarZik nice quick catch!
Is this an issue with the marked dependency?

[2022-02-27 19:00] techarch opened #198 "It would be great to see the port mappings in the containers view"
First, this is an awesome tool! Thank you for creating it! :-)
I found out about it in this week's edition of the Programmer Weekly newsletter (https://mailchi.mp/programmerweekly/programmer-weekly-issue-94?e=e8c11d0390).
It would really nice if there could be a column to show the port mappings in the Containers view, maybe in between the Command and State columns.

[2022-02-27 19:19] lirantal commented on #198
Thanks for the kind words @techarch and for sharing with us. I hadn't realized it was also featured on Programmer Weekly 😍

The port mapping seems relevant and ideal to include in the list. Need to check there's enough real estate there in the screen with everything else. How would you format the entry in that column?

[2022-02-27 20:57] techarch commented on #198
How about just like the -p syntax in docker run so 8080:80? And stack them if there is more than one port mapping.

[2022-02-27 21:16] lirantal commented on #198
That makes sense.
Would you like to try and make the code changes and send over a pull request?

[2022-03-01 08:49] RilDev opened #199 "[Enhancement]: Add Vi Key Bindings"
Hi there, thank you very much for this UI, it makes Docker very easy to use!

Would it be possible to add J and K to go up and down in the lists? Like it we could either press UP / DOWN or J / K to navigate without leaving the home row (like in Vim).

Thank you very much!

[2022-03-02 23:56] lirantal commented on #199
Hi @RilDev, thanks for suggesting this.
I think it makes a lot of sense, just need to check that the key bindings are indeed free for use :-)

Will take a look later on the weekend. In the meanwhile, if you wanted to take a look at the code and propose a pull request, I'd be happy to help you get that merged.

[2022-03-03 20:43] RilDev commented on #199
Challenge accepted! Thanks for the offer!

[2022-03-03 21:28] RilDev commented on #199
@lirantal So to what I understand, the up / down arrow binding is managed by `blessed-contrib`. Am I right?
If yes, I'll have to familiarize myself with this library this week-end!

I also went through `widgets` files and k / j look like they are indeed free.

[2022-03-04 08:02] RilDev commented on #199
Yes it does help! Thanks!

[2022-03-06 18:01] RilDev commented on #199
Challenge failed :(

To what I saw, there is no clear documentation for rebinding the arrow keys in the `blessed` library.
And the furthest I could go was to this file https://github.com/chjj/blessed/blob/master/lib/keys.js... but I don't have the skills / understanding needed to modify it and implement it in `dockly`.

Sorry about that!

[2022-03-14 20:01] lirantal commented on #199
No worries at all and this is amazing you tried it!
I'll try to put some time in the next couple of weeks to work on it too and as I make progress I'll update you so you can make the relevant changes.

[2022-03-20 07:07] lirantal commented on #199
@RilDev Ok, had a bit of time to tinker with this issue this morning

So, firsly, the base list widget that we use in dockly from the blessed library actually already supports a vi-type key binding. See from the [README docs](https://github.com/chjj/blessed#list-from-box):
![image](https://user-images.githubusercontent.com/316371/159152021-9005dcf8-ee68-4425-b24c-87c43037cf2b.png)

This means that

[2022-03-20 12:26] DorukAkinci commented on #189
The PR is unfortunately closed because of no activity https://github.com/Homebrew/homebrew-core/pull/93186

[2022-03-20 14:26] lirantal commented on #189
Thanks for bringing it up @DorukAkinci
@myishay do you want to give that a nudge?

[2022-03-20 16:26] myishay commented on #189
@lirantal @DorukAkinci
Thanks for you patience.
I replied to the PR now requesting for further information since I could not find the solution. I hope they will reply.

[2022-03-20 19:27] RilDev commented on #199
Thank you @lirantal! I'll be experimenting with it and prepare a nice pull request as soon as possible!

[2022-03-23 21:33] RilDev commented on #199
Alright, so I was able to test the `vi: true` key. It works well and doesn't deactivate the arrow keys, which is very convenient.
However, it doesn't work (yet) in the (m)enu.
So I'll be looking into it furthe!

[2022-07-26 08:44] MetalArend opened #205 "[Bug]: A container with a single quote in the command will mess up the overview table (not showing the state and status columns anymore)"
### What went wrong?

If you have a container running that has a command with a single quote in it, like `sh -c 'tail -f /dev/null'`, it will show up in the overview. But the table highlights as if the command is the last column, and the State and Status columns are not populated for that container.

### Your environment setup

- Operating System: NixOS
- Node.js version (run `node --version`): ru

[2022-07-26 08:58] lirantal commented on #205
Thanks for reporting @MetalArend. any chance you have a screenshot or that or an easily reproducible Dockerfile for us to test against?

[2022-07-26 09:13] MetalArend commented on #205
Update on the issue: it's not the single quote that is the issue, I think it's the newline.

## step 1: create compose.yaml file

[code]

## step 2: run docker-compose command

`docker-compose up -d`

## step 3: run dockly ;)

[2022-07-26 11:36] lirantal commented on #205
Appreciate it! I'll take a look tonight and get back to you

[2022-07-29 15:54] lirantal commented on #205
Thanks @MetalArend I was able to reproduce easily and have a fix in place :-)

[2022-07-29 20:12] MetalArend commented on #205
Awesome! :rocket:

[2022-07-29 20:40] #205 closed